<main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
        <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">No products found</h1>
        <p class="mt-6 text-base leading-7 text-gray-600">We haven't scraped any product yet. Head over
            to our home page to submit the link of a product you're interested in, and we'll get to work on
            fetching the details for you right away!</p>
    </div>
</main>
