<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} - Wykresy</title>
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body>
    <nav>
      <ul class="menuItems">
        <li>
          <a href="{{url_for('home')}}">Strona Główna</a>
        </li>
        <li>
          <a href="{{url_for('extract')}}">Ekstrakcja Opinii</a>
        </li>
        <li>
          <a href="{{url_for('products')}}">Lista Produktów</a>
        </li>
        <li><a href="{{url_for('author')}}">O Autorze</a></li>
      </ul>
    </nav>
    <main>
      <div class="product">
        <p>{{title}}</p>
        <a href="{{url_for('product', id=id)}}" class="button">Strona produktu</a>
      </div>
      <div>
        {{pieChart | safe}}
      </div>
      <div>
        {{barChart | safe}}
      </div>
    </main>
  </body>
</html>
