<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Strona Główna</title>
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body>
    <nav>
      <ul class="menuItems">
        <li>
          <a href="#" class="active">Strona Główna</a>
        </li>
        <li>
          <a href="{{url_for('extract')}}">Ekstrakcja Opinii</a>
        </li>
        <li>
          <a href="{{url_for('products')}}">Lista Produktów</a>
        </li>
        <li><a href="{{url_for('author')}}">O Autorze</a></li>
      </ul>
    </nav>
  </body>
</html>
